* {
    color: white;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                         0px 8px 13px rgba(0,0,0,0.1),
                         0px 18px 23px rgba(0,0,0,0.1);
}
h1 {
    font-size: 2.5rem;
    margin: 60px 30px 30px 30px;
}
h2 {
    margin-top: 0;
}
h3 {
    margin: 0;
}
.link-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
@media (max-width: 800px) {
    .link-containers {
        flex-direction: column;
        align-items: center;
    }
    .link-container {
        width: 90%;
    }
} 

@media (min-width: 801px) {
    .link-containers {
        flex-direction: row;
    }
    .link-container {
        width: 40%;
    }
}
.link-container {
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    padding: 16px;
    margin: 20px 0px 20px 0px;
}
.hauptprojekte * {
    color: white;
}
.nebenprojekte * {
    color: #bbbbbb;
}
.link-container li {
    margin-bottom: 10px;
}

.games-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.games-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.games-list-item .game-pic {
    width: 22%;
    position: relative;
    margin: 0 3% 0 0;
}
.games-list-item .game-pic img {
    max-width: 100%;
}
.games-list-item .games-list-title {
    width: 75%;
    display: flex;
    align-items: center;
}
.games-list-item .games-list-link {
    width: 100%;
    margin: 10px 0 10px 0;
    opacity: 80%;
}
.games-list-item .games-list-link:hover {
    opacity: 100%;
}
.games-list-item .games-list-description {
    width: 100%;
}
